<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="VisaExperience" />
    <link rel="shortcut icon" href="~/favicon.ico"/>

    @*<environment names="Development">*@
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="~/lib/reset-css/reset.css">
        <link rel="stylesheet" href="~/lib/skeleton/css/normalize.css">
        <link rel="stylesheet" href="~/lib/skeleton/css/skeleton.css">
        <link rel="stylesheet" href="~/css/site.css"/>
    @*</environment>*@
    @*<environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>*@
</head>
<body>
    <header class="section-header">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <h1 class="u-max-full-width">
                        <a href="/">VisaExperience</a>
                    </h1>
                </div>
                <nav class="section-nav">
                    <div class="two columns">
                        <a href="#">One</a>
                    </div>
                    <div class="two columns">
                        <a href="#">Two</a>
                    </div>
                    <div class="two columns">
                        <a href="#">Three</a>
                    </div>
                    <div class="two columns">
                        <a href="#">Four</a>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

<footer class="section-footer">
    <div class="row">
        <span>&copy; 2016 VisaExperience. All rights reserved.</span>
    </div>
</footer>
@RenderSection("scripts", required: false)
</body>
</html>